.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-info{
    margin-bottom: 0 14px;
    padding-left: 20px;
    margin-top: 8px;
}
.btn-cart{
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    position: end;
}
.btn-cart:hover{
    background-color: orange;
    color: black;
}
@media screen and (max-width: 500px) {
    .product{
        width: 200px;
        height: 410px;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        gap: 30px;
    }
    .product img{
        width: 190px;
        height: 200px;
        border-radius: 5px;
        margin: 5px;
    }
    .product-info{
        margin-bottom: 0 10px;
        padding-left: 10px;
        margin-top: 10px;
    }
}